#cnt{
    margin-top: 5%;
}
#cont6{
    display: flex;
    text-align: left;
    padding-left: 50px;
    margin-left:50px ;
    width:60%;
    /* border: 1px solid blue; */
    background-color: rgb(221, 247, 247);
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#c61>h1{
    font-size: 50px;
    font-weight: bolder;
    width:50%;
}
#Ai{
    color:white;
    background-color: rgb(59, 167, 218);
}
#c62{
    width:70%;
    font-size: 20px;
    font-weight: lighter;
}
#c65{
    width:50%;
/*   
    border:1px solid black; */
    margin-left: 100px;
}
#flex{
    display: flex;
}
#cont7{
    display: flex;
    width:80%;
    /* border: 1px solid blue; */
    height:auto;
    text-align: left;
    margin: auto;
}
#cont7>div{
    width:50%;
    /* border: 1px solid green; */
   
}
#im{
    width:100%
}
#c72>h1{
    font-size: 50px;
    font-weight: bolder;
    width:95%;
}
#c72>p{
    width:95%;
    font-size: 20px;
    font-weight: lighter;
}

#lg1{
    width:25%
}
#lg2{
    width:8%;
    margin-left: 30px;
}
#lg3{
    width:20%;
    margin-left: 30px;
}
#cont8{
    width:100%;
    height: 500px;
    /* border: 1px solid blue; */
    background-color: rgba(0, 132, 255, 0.877);

    align-items: center;
}
#c81{
    display: flex;
    gap:15px;
   width:30%;
   margin:auto;
   
}
#c81>h1{
    font-size: 32px;
    color: white;

}
#c81>img{
    width:100px;
    height: 50px;
    margin-top: 27px;
}
#c82{
    width:500px;
    align-items: center;
    border: 5px solid lightblue;
    margin: auto;
    height: auto;
   background-color: aliceblue;
   border-radius: 20px;
   padding: 10px;
   justify-content: space-around;
}
#c821>input{
padding:10px 50px 10px 50px;

border: none;
padding-right: 100px;
font-size: larger;

}
#c821>button{
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    background-color: rgb(79, 182, 245);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 10px;
}
#c821{
    background-color: white;
    width:55%;
    display: flex;
   justify-content: space-evenly;
    border-radius: 20px;
    margin: auto;
}
#spn{
    width:80%;
    /* border:1px solid red; */
    display: flex;
    margin: auto;
}
#spn>div{
width:30%;
}
#h{
    color: white;
}
.spon{
    width:60%;
}
#stars{
    margin-top: 50px;
}
#lat>p{
    color: white;
  width:75%;
    font-size: 20px;
    font-weight: lighter;
}
#lat{
    width:50%;
    margin: auto;
    align-items: center;
  
}
#new{
    display: flex;
}




